@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 350px;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Sriracha', cursive;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin: 25px auto 15px auto;
    font-size: 3.5rem;
    letter-spacing: .2rem;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30px;
}

.image-grid {    
    display: grid;
    padding-bottom: var(--gap);
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-container .image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-left-aligned {
    grid-column: 1 / 3;
    grid-row: 1/ 3;
}

.large-right-aligned {
    grid-column: 3 / 5;
    grid-row: 1/ 3;
}

@media only screen and (max-width: 1024px) {    
    :root {
        --num-cols: 2;
        --row-height: 250px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .large-right-aligned {
        grid-column: 1 / 3;
        grid-row: 1/ 3;
    }
}

@media only screen and (max-width: 800px) {    
    :root {
        --num-cols: 1;
    }

    .large-left-aligned {
        grid-column: 1;
        grid-row: 1;
    }

    .large-right-aligned {
        grid-column: 1;
        grid-row: 1;
    }
}